body{
    animation: colores 1s infinite;
}

@keyframes /*Son los cuadritos de cada pelicula*/ colores{
0%{
    background: pink;
}

25%{
    background: black;
}

50%{
    background: purple;
}

100%{
    background: yellow;
}
}

h1{ 
    text-align: center;/*Para alinear el texto al centro*/
    padding-top: 300px; /*Respeto del margen de arriba*/
    font-family: 'Alkatra', cursive;
    color:aliceblue

}

.figures{

    background: white;
    position: absolute;
    animation: moveSquare1 2s infinite;
}

#squarewhite1{

    width: 100px;
    height: 100px;
    left: 50px;
    position: absolute;

}

@keyframes moveSquare1{
    from
    {
        top: 0px;
    }
    to
    {
        top: 200px;
    }
}

#squarewhite2{

    width: 100px;
    height: 100px;
    position: absolute;
    right: 50px;

}

#squarered{
    background: red;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 350px;
    animation: moveRed 1s infinite;

}

@keyframes moveRed{
    0%{ top:0px;}
    25%{ top:200px; width: 500px; height: 40px;}
    50%{ top:50px;}
    100%{ top: 100px;}

}

#detoxSquare{
    background: yellowgreen;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 670px;
    animation: moveTutifruti 1.5s infinite

}

@keyframes moveTutifruti{
    0%{ top:0px; background:red;}
    25%{ top:200px; width: 10px; height: 10px; background: white;}
    50%{ top:50px; width: 500px; width: 700px;background: blue;}
    100%{ top: 100px; width: 1000px; width: 5px;background:green}
} 

#circle{

    background: cyan;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 400px;
    border-radius: 60%;
    animation: moveCircle 0.5s infinite
}
@keyframes moveCircle{
    0%{ top:0px; background:red;}
    25%{ top:200px; width: 10px; height: 10px; background: pink;}
    45%{ top:3px; width: 10px; height: 10px; background: pink;}
    50%{ top:50px; width: 700px; height: 700px;background: white;}
    100%{ top: 100px; width: 1000px; height: 1000px;background:gray}
}

#video{
    position: absolute;
    left: 60px;
    height: 40%;
}